
<!-- login-layout.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
</head>
<body>
    <main>
        <!-- Contenu de la page de connexion -->
        <%= body %>
    </main>
</body>
</html>

