<div class="container-scroller">
    <%- include('partials/header.ejs') %>
    <div class="container-fluid page-body-wrapper">
    <%- include('partials/sidebar.ejs') %>

<h1>erreur  404 bind ceci semble un adresse inapropié verifé !!!!</h1>

    </div>
    <div>