<div class="container-scroller">
    <%- include('partials/header.ejs') %>
    <div class="container-fluid page-body-wrapper">
    <%- include('partials/sidebar.ejs') %>

<h1>erreur  500 bind ceci semble etre une erreur d'informations verifie vos infos !!! error server </h1>

    </div>
    <div>