<div class="container-scroller">
  <!-- partial:../partials/_navbar.html -->
  <nav  class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="z-index: 1!important;">
      
     <div style="background-color: rgb(226, 183, 183);" class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
     <h1 style=" position: absolute !important;left: 10px !important;"> Oups !!!!! erreur 401</h1>
     </div>
   </nav>
     <div class="container-fluid page-body-wrapper">
   
 
 
 
 <div class="sp">      <h3>"Oups ! La page que vous recherchez semble introuvable.
 
   Nous sommes désolés, mais le mot de passe saise semble etre incorrect !!!!,</h3> <br>
 
   
   <a href="/" type="button" class="btn btn-primary btn-small">
   <i class="bi bi-chevron-double-left"></i>  Retourner à la connexion 
    </a>
 </div> 
     </div>
     <div>